
@inject IHttpContextAccessor Accessor
@using Microsoft.AspNetCore.Http
@model HelloDoc.DAL.ViewModels.AdminDashvm

@* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@

@* @{
    var Status = @Accessor.HttpContext.Session.GetInt32("Status");
}
 *@

@functions {
    public string GetTableColorClass(int RequstTypeId)
    {
        switch (RequstTypeId)
        {
            case 1: return "green";
            case 2: return "orange";
            case 3: return "blue";
            case 4: return "pink";
            default: return "green";
        }
    }

    public string GetTabletype(int Status)
    {
        switch (Status)
        {
            case 1: return "New";
            case 2: return "Pending";
            case 4: return "Active";
            case 6: return "Conclude";
            case 3: return "To Close";
            case 9: return "Unpaid";
            default: return "Unknown";
        }
    }

    public string GetRequestBy(int RequstTypeId)
    {
        switch (RequstTypeId)
        {
            case 1: return "Patient";
            case 2: return "Family/Friend";
            case 3: return "Business";
            case 4: return "Concierge";
            default: return "Vip";
        }
    }
}

@{
    int[] dashStatus = new int[3];

    if (Model.StatusForName == 3)
    {
        dashStatus[0] = 3;
        dashStatus[1] = 7;
        dashStatus[2] = 8;
    }
    else if(Model.StatusForName == 4)
    {
        dashStatus[0] = 4;
        dashStatus[1] = 5;
    }
    else
    {
        dashStatus[0] = Model.StatusForName;
    }

}

<div class="d-flex justify-content-between align-items-center">
    <h5>
        Patients (@GetTabletype(Model.StatusForName))
    </h5>
    <div class="d-flex">
        <button type="button"
                class="btn btn-info d-flex ms-3 ms-sm-2 p-2 align-items-center text-light" onclick="sendLinkModal(@Model.StatusForName)">
            <i class="bi bi-send "></i>
            <span class="d-lg-block d-none px-2">SendLink</span>
        </button>
        <button type="button"
                class="btn btn-info d-flex ms-3 ms-sm-2 p-2 align-items-center text-light" onclick="adminCreateRequest(@Model.StatusForName)">
            <i class="bi bi-pencil-square "></i>
            <span class="d-lg-block d-none px-2 ">CreateRequest</span>
        </button>
        <button type="button"
                class="btn btn-info d-flex ms-3 ms-sm-2 p-2 align-items-center text-light" onclick="Export([@dashStatus[0], @dashStatus[1], @dashStatus[2]])">
            <i class="bi bi-arrow-up-right"></i>
            <span class="d-lg-block d-none px-2 ">Export</span>
        </button>
        <button type="button"
                class="btn btn-info d-flex ms-3 ms-sm-2 p-2 align-items-center text-light" onclick="Export([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])">
            <i class="bi bi-box-arrow-up-right"></i>
            <span class="d-lg-block d-none px-2 ">Export All</span>
        </button>
       @*  <button type="button"
                class="btn btn-info d-flex ms-3 ms-sm-2 p-2 align-items-center text-light" onclick="RequestSupport()">
            <i class="bi bi-person-plus"></i>
            <span class="d-lg-block d-none px-2 ">Request DTY Support</span>
        </button> *@
    </div>
</div>

<div class="mt-2 mb-2">
    <div class="d-md-flex justify-content-between align-items-center gap-2">

        <div class="d-md-flex gap-1">
            <form role="search" class="mb-2">
                <!-- <i class="bi bi-search"></i> -->
                <input class="form-control" placeholder="Search" aria-label="Search" id="my-search-input">
            </form>
            <!-- Example split danger button -->

            <select class="form-select mb-2" aria-label="Default select example" onchange="FilterTableRecords(@Model.StatusForName, null, this.value)">
                <option selected>All Region</option>
               @foreach(var obj in Model.regions.ToList())
                {
                    <option value="@obj.RegionId">
                        @obj.Name
                    </option>
                }
            </select>
        </div>

        <div class="d-flex gap-2 align-items-center mb-2">
            <button type="button" onclick="FilterTableRecords([@dashStatus[0], @dashStatus[1], @dashStatus[2]], '0')" class="btn btn-outline-secondary d-none d-md-block">All</button>
            <div type="button" onclick="FilterTableRecords([@dashStatus[0], @dashStatus[1], @dashStatus[2]], '1')" class="d-md-flex gap-1 mx-auto text-center align-items-center">
                <i class="bi bi-circle-fill green-icon"></i>
                <div><small>Patient</small></div>
            </div>
            <div type="button" onclick="FilterTableRecords([@dashStatus[0], @dashStatus[1], @dashStatus[2]], '2')" class="d-md-flex gap-1 mx-auto text-center align-items-center">
                <i class="bi bi-circle-fill orange-icon"></i>
                <div><small>Family/Friend</small></div>
            </div>
            <div type="button" onclick="FilterTableRecords([@dashStatus[0], @dashStatus[1], @dashStatus[2]], '4')" class="d-md-flex gap-1 mx-auto text-center align-items-center">
                <i class="bi bi-circle-fill pink-icon"></i>
                <div><small>Business</small></div>
            </div>
            <div type="button" onclick="FilterTableRecords([@dashStatus[0], @dashStatus[1], @dashStatus[2]], '3')" class="d-md-flex gap-1 mx-auto text-center align-items-center">
                <i class="bi bi-circle-fill blue-icon"></i>
                <div><small>Concierge</small></div>
            </div>
        </div>

    </div>

</div>


<div id="requestTable">
    <partial name="Admin/Dashboard/_AdminRequestTable" />
</div>


