@model HelloDoc.DAL.ViewModels.ProviderInvoicingvm

<div class="border rounded shadow p-3 mt-4" id="RecieptTable">
    <div class="table-responsive">
        <table class="table AddRecieptTable">
            <thead class="rounded table-active">
                <tr>
                    <th style="background: transparent;">Date</th>
                    <th style="background: transparent;">Item</th>
                    <th style="background: transparent;">Amount</th>
                    <th style="background: transparent;">Bill</th>
                    <th style="background: transparent;">Action</th>
                </tr>
            </thead>
            @{
                var counter = 0;
            }
            <tbody>
                @foreach (var obj in @Model.AddReceiptsDetails)
                {
                    <form method="post" enctype="multipart/form-data" id="ReceiptForm@(counter)">
                    <tr class="align-middle">
                        <input type="text" asp-for="@obj.TimeSheetDetailId" id="inputTimeSheetDetailId@(counter)"
                               hidden>
                        <td>@obj.ShiftDetailDate</td>
                        <td>
                            <input type="text" asp-for="@obj.Item" class="form-control w-75" placeholder="Item"
                                   id="inputItem@(counter)">
                        </td>
                        <td>
                            <input type="text" asp-for="@obj.Amount" class="form-control w-75" placeholder="Amount"
                                   id="inputAmount@(counter)">
                        </td>
                        <td>
                               
                                <div class="input-group mb-3 border border-2 rounded w-75">
                                    <input type="file" class="form-control" id="inputFile@(counter)" asp-for="@obj.Bill">
                                    <label class="input-group-text fw-bold bg-info border-info upload"
                                           for="inputFile@(counter)">
                                        <i class="bi bi-cloud-arrow-up me-2 fw-bold text-white"></i>
                                        <span class="text-white d-none d-sm-block">Upload</span>
                                    </label>
                                </div>
                                <div>
                                    @obj.BillValue
                                </div>
                                
                        </td>
                        <td>
                            @if(Model.CallId == 2)
                            {
                                <div class="d-flex" id="EditContainer@(counter)">
                                    <button type="button" class="btn btn-outline-info me-2"
                                            onclick="enableSubmit(@counter)">
                                        Edit
                                    </button>
                                        @if (@obj.BillValue != null)
                                        {
                                        <button type="button" class="btn btn-outline-info me-2" onclick="DeleteReceipt(@obj.TimeSheetDetailId)">
                                            Delete
                                        </button>
                                        <a type="button" class="btn btn-outline-info" target="_blank" href="~/content/@obj.BillValue">
                                            View
                                        </a>
                                        }
                                </div>
                                <div class="d-flex d-none" id="SubmitContainer@(counter)">
                                    <button type="submit" class="btn btn-outline-info me-2"
                                            onclick="PostAddReceipt(@counter)">
                                        Submit
                                    </button>
                                    <button type="reset" class="btn btn-outline-info" onclick="disableSubmit(@counter)">
                                        Cancel
                                    </button>
                                    </div>
                                }
                                else
                                {
                                    @if (@obj.BillValue != null)
                                    {
                                        <a type="button" class="btn btn-outline-info" target="_blank" href="~/content/@obj.BillValue">
                                            View
                                        </a>
                                    }

                            }
                        </td>
                    </tr>
                    </form>
                    counter++;
                }
            </tbody>
        </table>
    </div>

    
</div>

<script>
    function disableSubmit(counter) {
        $(`#EditContainer${counter}`).removeClass('d-none');
        $(`#SubmitContainer${counter}`).addClass('d-none');
    }

    function enableSubmit(counter) {
        $(`#EditContainer${counter}`).addClass('d-none');
        $(`#SubmitContainer${counter}`).removeClass('d-none');
    }
</script>